In [ ]:
#Saumya 25070123161
#Experiment 5
#Dictionaries in Python

#**Creation of Dictionaries**

In [1]:
thisdict = {
    "brand" : "Ford",
    "model" : "Mustang",
    "year" : 1964,
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

#**Retriving Values From Dictionary**

In [2]:
thisdict = {
    "brand" : "Ford",
    "model" : "Mustang",
    "year" : 1964,
}
print(thisdict["brand"])

Ford

#**Overwriting Data In A Dictionary**

In [28]:
#dictionary takes latest value given for key. it will not allow duplicates
thisdict = {
    "brand" : "Ford",
    "model" : "Mustang",
    "year" : 1964,
    "year" : 2020,
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

#**Changing/Adding Key:value and Class Of Dictionary**

In [9]:
car = {
    "brand" : "Ford",
    "model" : "Mustang",
    "year" : 1964,
}
car ["colour"] = "red"
print(car)

x = car.values()
print(x)

print(type(car))

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'colour': 'red'}
dict_values(['Ford', 'Mustang', 1964, 'red'])
<class 'dict'>

#**Removing data from Dictionary**

In [16]:
student = {
    "roll" : 101,
    "name" : "soham",
    "branch" : "Entc",
}
student.pop("branch")
print("After Removal : ",student)

After Removal :  {'roll': 101, 'name': 'soham'}

#**Question 1**

In [19]:
product = {
    "Pen": 20,
    "Book" : 50,
    "Scale": 10,
}
print("Original Prices : ",product)
product ["Book"] = 55
print("Updates Prices : ",product)

Original Prices :  {'Pen': 20, 'Book': 50, 'Scale': 10}
Updates Prices :  {'Pen': 20, 'Book': 55, 'Scale': 10}

#**Question 2**

In [26]:
student = {
    "A": 85,
    "B": 72,
    "C": 90,
}
name = input("Enter the name of the student : ")
print(student.get(name,"Student not found"))

Enter the name of the student : C
90

In [27]:
student = {
    "A": 85,
    "B": 72,
    "C": 90,
}
name = input("Enter the name of the student : ")
print(student.get(name,"Student not found"))

Enter the name of the student : D
Student not found

#**Question 3**

In [37]:
users = {
    "admin": '1234',
    "Student" : "abcd"
}
username = input("Enter the username : ")
password = input("Enter the password : ")
if users.get(username) == password:
  print("Login Successful")
else:
  print("Invalid Username or password")

Enter the username : admin
Enter the password : 1234
Login Successful

In [36]:
users = {
    "admin": '1234',
    "Student" : "abcd"
}
username = input("Enter the username : ")
password = input("Enter the password : ")
if users.get(username) == password:
  print("Login Successful")
else:
  print("Invalid Username or password")

Enter the username : student
Enter the password : 1234
Invalid Username or password

#**Question 4**

In [40]:
marks = {
    "A": 85,
    "B": 92,
    "C": 78,
}
topper =max(marks,key=marks.get)
print("Topper : ",topper)
print("Marks : ",marks[topper])

Topper :  B
Marks :  92